# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

#### some of the popular language that data scientists use are:

* JavaScript
* Python
* R
* SQL

#### some of the commonly used libraries which are used by Data scientists are:

* scrapy
* numpy
* scipy
* pandas

 |Data science|
 |--------------
 |jupyter notebook|
 |spyder|
 |Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

### Objectives :
> some of the commonly used Data science langauge
*   SQL
 *   JAVA
 *    C
 * python
 * R

 ## Author
    Abhay sk